.App {
  text-align: center;
  height: 100%;
}

html {
  height: 100%;
}

body {
  height: 100%;
  background: linear-gradient(135deg, rgba(0,255,0,1) 0%, #31a807 39%, rgba(133,187,101,1) 89%);
  background-size: 100%;
  font-family: 'Lobster', cursive;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

// .ReactModal_Content .ReactModal_Overlay--after-open {
//   background: gray;
// }

.ReactModal__Overlay {
  transition: opacity 500ms ease-in-out;
  opacity: 0;
  // position: absolute;
  // top: 25%;
  // left: 25%;
  // right: 25%;
  // margin: auto;

  &--after-open {
    background: rgba(0,0,0,1);
    top: 0%;
    bottom: 0%;
    left: 0;
    right: 0;
    position: absolute;
    // z-index: 2;
    // margin: auto;
    // opacity: 0;
  }

  &--before-close {

    opacity: 0;
  }
}

.ReactModal__Content {
  transition: all 500ms ease-in-out;
  transform: translateY(30px);
  opacity: 0;
  width: 100%;
  max-width: 767px;
  // height: 100%;
  margin-top: 50px !important;

  @media only screen and (max-width: 619px) {
    width: 86% !important;
    height: 88% !important;
  }

  &--after-open {
    border-radius: 5%;
    display: flex;
    flex-direction: column;
    padding: 25px;
    justify-content: center;
    width: 50%;
    height: 60% !important;
    // justify-items: center;
    // align-content: center;
    align-items: center;
    // z-index: 3;
    background: linear-gradient(235deg, #93066C 0%, #C5504F 39%, #C55008 89%);
    opacity: 1;
    transform: translateY(0);

    button {
      border-radius: 5px;
      margin-right: 20px;
      margin-left: 20px;
      margin-top: 10px;
    }
  }

  &--before-close {

    opacity: 0;
    transform: translateY(30px);
  }
}

.Toastify__toast-body {
  font-family: 'Lobster', cursive;
  color: black;
}

.Toastify__toast {
  border: 1px black solid;
  // border-radius: 5px;
}

.Toastify__toast.Toastify__toast--success {
  border-radius: 5px;
}

.Toastify__toast.Toastify__toast--warn {
  border-radius: 5px;
}

.Toastify__toast.Toastify__toast--error {
  border-radius: 5px;
}

.Toastify__toast.Toastify__toast--info {
  border-radius: 5px;
}

