.ReactModal__Overlay {
  transition: opacity 500ms ease-in-out;
  opacity: 0;
  position: absolute;
  top: 25%;
  left: 25%;
  right: 25%;
  // margin: auto;

  &--after-open {
    background: rgba(0,0,0,1);
    top: 0%;
    bottom: 0%;
    left: 0;
    right: 0;
    position: absolute;
    // z-index: 2;
    // margin: auto;
    // opacity: 0;
  }

  &--before-close {

    opacity: 0;
  }
}

.ReactModal__Content {
  transition: all 500ms ease-in-out;
  transform: translateY(30px);
  opacity: 0;
  width: 100%;
  margin-top: 50px !important;


  &--after-open {
    border-radius: 5%;
    display: flex;
    flex-direction: column;
    padding: 25px;
    justify-content: center;
    width: 50%;
    // justify-items: center;
    // align-content: center;
    align-items: center;
    // z-index: 3;
    background: rgba(0,0,0,1);
    opacity: 1;
    transform: translateY(0);

    button {
      border-radius: 5px;
      margin-right: 20px;
      margin-left: 20px;
      margin-top: 10px;
    }

    @media only screen and (max-width: 619px) {
      width: 86%;
      height: 88%;
    }
  }

  &--before-close {

    opacity: 0;
    transform: translateY(30px);
  }
}

.titleSpacing {
  margin-top: -25px;
}