.form {
  text-align: center;
  flex-direction: column;
  display: flex;
  justify-content: center;
  border: 3px black solid;
  margin: 100px 520px;
  padding: 25px;

}


form button {
  border-radius: 5px;
  margin-right: 20px;
  margin-left: 20px;
  margin-top: 10px;
}

form input {
  margin-bottom: 25px;
}

@media screen and (max-width: 1285px) {
  .form {
    margin: auto 10px;
  }
}